VITE_AFFORDMED_AUTH_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJNYXBDbGFpbXMiOnsiYXVkIjoiaHR0cDovLzIwLjI0NC41Ni4xNDQvZXZhbHVhdGlvbi1zZXJ2aWNlIiwiZW1haWwiOiJlbGx1cnVzYWlyb2hpdGhAZ21haWwuY29tIiwiZXhwIjoxNzc4MDYxNDM5LCJpYXQiOjE3NzgwNjA1MzksImlzcyI6IkFmZm9yZCBNZWRpY2FsIFRlY2hub2xvZ2llcyBQcml2YXRlIExpbWl0ZWQiLCJqdGkiOiJlMjI3ZTNjYy01OTgxLTQ3YzItYmU4ZC1jYjM5ODhmY2E4NzUiLCJsb2NhbGUiOiJlbi1JTiIsIm5hbWUiOiJlbGx1cnUgc2FpIHJvaGl0aCIsInN1YiI6ImM2MWNmYTE2LWFmMjktNDViYy04YzE5LTI0MThmODAwZmJkMCJ9LCJlbWFpbCI6ImVsbHVydXNhaXJvaGl0aEBnbWFpbC5jb20iLCJuYW1lIjoiZWxsdXJ1IHNhaSByb2hpdGgiLCJyb2xsTm8iOiJibC5lbi51NGFpZDIzMDE1IiwiYWNjZXNzQ29kZSI6IlBUQk1tUSIsImNsaWVudElEIjoiYzYxY2ZhMTYtYWYyOS00NWJjLThjMTktMjQxOGY4MDBmYmQwIiwiY2xpZW50U2VjcmV0IjoiZGNKSk1oQXRQUE5xVFlaYyJ9.PcfWdTZ3XyZC47xNn4QBiH7VtbHyD_pVdiPS3kHmnig